.x-post-title-name {
  margin: 8px 1px;
}

.x-post-title-check {
  margin: 5px;
}

.x-post-title-username {
  margin: 8px 1px;
  color: rgb(113, 113, 113);
}
.x-post-title-point {
  margin: 8px 1px;
  color: rgb(113, 113, 113);
}
.x-post-title-date {
  margin: 8px 1px;
  color: rgb(113, 113, 113);
}
